# Node modules
node_modules/

# Build output
docs/.vitepress/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS dosyaları
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment variables
.env
